.card {
    width: 25rem; /* Corrected the syntax */
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.row {
    margin-top: 10px;
    padding-top: 20px; /* Ensure this doesn't conflict with Bootstrap styles */
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.button {
    margin-top: auto; /* Pushes the button to the bottom of the card */
}


