.card {
    margin-bottom: 30px;
    /* Space between cards */
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 300px;
    /* Minimum height of each card */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    /* Make card full width */
}

.row {
    margin-top: 10px;
    padding-top: 20px;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.btn-secondary {
    margin-top: auto;
    /* Pushes the button to the bottom of the card */
}

