.homeContainer,
.typewriterContainer,
.about-me {
  position: relative;
  /* Required for z-index to take effect */
  z-index: 50;
  /* Ensures these elements are above the Particles' z-index of -300 */
  background-color: white;
  margin: 0 auto;
  max-width: 650px;
  padding: 10px;
  border-radius: 10px;
}




.homeContainer {
  z-index: 50;
  text-align: center;
  margin-top: 20vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
}

.typewriterContainer {
  z-index: 50;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}

.socialIcon {
  display: inline-block;
  margin: 0 10px;
  height: 5px;
  width: 5px;
  size: 15px;
}


.about-me {
  z-index: 50;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 600px;
  margin: auto;
  padding-bottom: 20px;
}







  